@model IEnumerable<Xurpas.Models.ViewModels.ParkingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List Parked Vehicles</h1>


<form asp-action="Index" method="get">
    <div class="form-actions">
        <div>
            <div class="float-left">

                <a asp-action="Park" class="btn btn-info">Park</a>
            </div>
            <div class="float-right">

                <label for="SearchString">Search :</label>
                <input type="text" id="SearchString" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Clear</a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>*@
            <th>
                Plate No.
            </th>
            <th>
                Entry Point
            </th>
            <th>
                ParkingType
            </th>
            <th>
                @*Parking Space*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ParkingIDSortParm"]">@Html.DisplayNameFor(model => model.ParkingSpaceID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateTimeInSortParm"]">@Html.DisplayNameFor(model => model.TimeIn)</a>
                @*@Html.DisplayNameFor(model => model.TimeIn)*@
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateTimeOutSortParm"]">@Html.DisplayNameFor(model => model.TimeOut)</a>
                @*@Html.DisplayNameFor(model => model.TimeOut)*@
            </th>
            @*<th>
                    Allow Return
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PlateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryPointName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingTypeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingSpaceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.isDisable)
                    </td>*@
                <td>
                    @if (item.TimeOut.ToString() == "01/01/0001 12:00:00 am")
                    {
                        @Html.ActionLink("Unpark", "Unpark", new { id = item.ID }) <br />
                    }

                    @if (item.isDisable == "Yes")
                    {
                        @Html.ActionLink("Return", "Returning", new { id = item.ID }) <br />
                    }

                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                </td>
            </tr>
        }
    </tbody>
</table>
