@model Xurpas.Models.ViewModels.ParkingViewModel

@{
    ViewData["Title"] = "Returning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Returning</h1>

<h4>ParkingViewModel</h4>
<hr />
<div class="row">

    <form asp-action="Returning">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ID)
                <input asp-for="ID" type="hidden" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlateNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlateNumber)
                <input asp-for="PlateNumber" type="hidden" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EntryPointName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EntryPointName)
                <input asp-for="EntryPointName" type="hidden" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ParkingTypeCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ParkingTypeCode)
                <input asp-for="ParkingTypeCode" type="hidden" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ParkingSpaceID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ParkingSpaceID)
                <input asp-for="ParkingSpaceID" type="hidden" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeIn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeIn)
                <input asp-for="TimeIn" type="hidden" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeOut)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeOut)
                <input asp-for="TimeOut" type="hidden" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumberOfHours)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumberOfHours)
                <input asp-for="NumberOfHours" type="hidden" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HourlyRate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HourlyRate)
                <input asp-for="HourlyRate" type="hidden" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalParkingFees)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalParkingFees)
                <input asp-for="TotalParkingFees" type="hidden" />
            </dd>
        </dl>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsReturning" /> @Html.DisplayNameFor(model => model.IsReturning)
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
